
#name {
  color: #159957;
  font-size: 11vh;
  font-weight: medium;
  border: 3px solid black;
  font-family: Times New Roman;
  text-align: center;
}


.btn {
  outline-style: none; 
  font-weight: bold;
} 
